<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "XOOPSCUBE PROJECT - Documentation" %></title>

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <script src="https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.0/iconify.min.js"></script>
    <script>

    window.addEventListener('DOMContentLoaded', (event) => {

      // Top-navigation Show and Hide
      $(window).scroll(function() {
        if ($(this).scrollTop() > 200) {
          $('.top-nav').fadeIn(200);
        } else {
          $('.top-nav').fadeOut(200);
        }
      });

      // Animate Top-navigation
      $('.top-nav').click(function(event) {
        event.preventDefault();
        $('html, body').animate({scrollTop: 0}, 300);
      });

      // Console log
      console.log('DOM fully loaded and parsed');

    });

      // Mermaidjs graph renderer
      var config = {
          startOnLoad:true,
          flowchart:{
              useMaxWidth:false,
              htmlLabels:true
          }
      };

      mermaid.initialize(config);

</script>

</head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">

  <div class="layout">

  <!-- Include Header -->
  <%= partial "includes/header" %>

  <!-- Include Page Content -->
  <div class="layout-data">
    <div class="container <% unless current_page.data.home? %>content<% end %>">
      <%= page_content %>
    </div>
  </div>

  <!-- Include Footer -->
  <%= partial "includes/footer" %>

  <a href="#" class="top-nav"><span class="iconify" data-icon="uil:sort-amount-up" data-inline="false"></span>Top</a>

  </div>

  </body>
</html>
