---
layout: frontpage
title: XCL Developer Portal

primary_cards:
  - name:  Development Tools
    blurb: Build your Web Application Platform - Content Management System practicing continuous integration.
    url: guides/development.html
    background_color: "#5E35B1"
    image:
      url: /images/xcl-dev-env.png
  - name: Design Guidelines
    blurb: Integrate responsive frameworks and libraries with your Modules Templates and Themes.
    url: guides/design.html
    background_color: "#3949ab"
    image:
      url: /images/xcl-design.png
  - name: Continuous delivery
    blurb: Sync your source code and release new changes to your customers quickly in a sustainable way.
    url: guides/delivery.html
    background_color: "#1976d2"
    image:
      url: /images/xcl-deploy.png

secondary_cards:
  - name: Comprehensive Docs
    blurb: Build exactly what you need with modern frameworks and libraries.
    url: docs.html
    cta: Explore docs
  - name: Guides and Tutorials
    blurb: Detailed step-by-step instructions to build integrations quickly and easily.
    url: guides.html
    cta: Explore guides
  - name: Dedicated Support
    blurb: Get dedicated developer support by contacting our support team members.
    url: https://github.com/xoopscube/
    cta: Learn more

    toc_footers:
    - <strong>XOOPSCUBE Project</strong>
    - <a href='https://github.com/xoopscube/xcl'>XCL Web Application</a>
    - <a href='https://github.com/xoopscube/documentation'>Documentation</a>
    - <a href='https://github.com/xoopscube/modules'>Modules</a>
    - <a href='https://github.com/xoopscube/themes'>Themes UI</a>
    - <a href='https://github.com/xoopscube/i18n-language'>i18n-language</a>
    - <a href='https://github.com/xoopscube/preload'>Preload Extensions</a>
    - <a href='https://github.com/xoopscube/interface'>PHP Interfaces</a>

home: true
search: false

---

<div class="index-page">

  <%= partial "includes/home_title" %>

  <div class="flex-row flex-space">

    <div class="card-list">

      <% current_page.data.primary_cards.each do |study| %>
        <div class="study-card" style="background-color: <%=study.background_color%> ">

          <div class="study-card-image">
            <img src="<%=study.image.url%>" />
          </div>

          <div class="study-blurb">
            <h2><%=study.name%></h2>
            <p><%=study.blurb%></p>
            <a href="<%=study.url%>" class="btn btn-big btn-primary card-sticky-button"" role="button">
              Read More
            </a>
          </div>

        </div>
      <% end %>

    </div>

  </div>

  <div class="flex-row flex-space">
    <div class="flex-column">
      <h2>Start building with XCL in minutes...</h2>
    </div>
  </div>

  <div class="flex-row flex-space">

    <div class="card-list">

      <% current_page.data.secondary_cards.each do |study| %>
        <div class="study-card secondary-card">

          <div class="study-blurb">
            <h2><%=study.name%></h2>
            <p><%=study.blurb%></p>
            <a href="<%= study.url %>" class="plain-link card-sticky-button">
              <%= study.cta %> <i class="fa fa-angle-right"></i>
            </a>
          </div>

        </div>
      <% end %>

    </div>

  </div>

  <div class="flex-row flex-space">

    <div class="flex-column-2">
      <h2> X-Update is a fulfilment service to streamline your code and continuous delivery workflow</h2>
    </div>

    <div class="flex-column">
      <p>Discover how Open Source can help your clients build the business solution of their dreams.</p>

    </div>

  </div>

</div>
